
 .about-page-parragraph-1 a {
  color: #0060B6;
  text-decoration: none;
}

.about-page-parragraph-1 a:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.about-page-container {
  background: url(../assets/Thanos.jpg);
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about-page-paragraph-wrapper {
  width: 40vw;
  height: 78vh;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.about-page-parragraph-1 {
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 1rem;
  color: white;
  font-weight: 400;
}

.about-page-image {
  width: 70vw;
  height: 51vh;
  margin-left: 16rem;
  padding: 1rem;
}






/* Media Queries */

@media (max-width: 1300px) {
  .about-page-parragraph-1 {
    font-size: 3rem;
  }

  .about-page-image {
    width: 87vw;
    height: 47vh;
    margin-left: 2rem;
  }
}



@media (max-width: 1024px) {
.about-page-image {
  width: 87vw;
  height: 37vh;
  }
}



@media (max-width: 850px) {
  .about-page-image {
  width: 80vw;
  height: 30vh;
  } 

  .about-page-parragraph-2 {
  padding: 7rem;
  }

  ..about-page-parragraph-2 {
  padding: 7rem;
  }
}



@media (max-width: 768px) {
  .about-page-parragraph-1 {
    font-size: 1.5rem;
    margin-right: -4rem;
  }

  .about-page-parragraph-2 {
    padding: 4rem;
  }
}



@media (max-width: 630px) {
  .about-page-image {
  height: 22vh;
  }

  .about-page-parragraph-2 {
  padding: 2rem;
  font-size: 1.2rem;
  }
}



@media (max-width: 450px) {
  .about-page-image {
  height: 15vh;
  margin-left: .2rem;
  width: 85vw;
  }
}

@media (max-width: 414px) {
  .about-page-parragraph-1 {
    font-size: 1rem;
    margin-right: -9rem;
  }
}



@media (max-width: 375px) {
  .about-page-parragraph-1 {
  font-size: 1rem;
  margin-right: -6rem;
  }
}

