.forgot-password-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 99.5vw;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -2rem;
}

.forgot-password-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  width: 76vh;
  height: 45vh;
  margin-top: 4rem;
  margin-left: 6rem;
  }

  .forgot-password-header-wrapper {
    color: #035aa6;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
  
  }

  .forgot-password-header {
    margin: .2rem;
  }

 .forgot-password-form-container {
  height: 71%;
  
 }

 .forgot-password-page-form-group {
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
  width: 92%;
  margin-left: 1rem;
  margin-top: 2rem;
 }

 .forgot-password-button {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
  margin-top: 5rem;
  margin-left: 38%;
  }




/* Media Queries */
@media (max-width: 1900px) {
  .forgot-password-header {
  font-size: 2.5rem;
  }
}


@media (max-width: 768px) {
  .forgot-password-page-container {
    width: 97%;
  }

  .forgot-password-page-wrapper {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}



@media (max-width: 630px) {
  .forgot-password-page-wrapper {
    width: 52vh;
  }

  .forgot-password-page-form-group {
    width: 82%;
  }
  .forgot-password-button {
    margin-top: 3rem;
    margin-left: 33%;
  }
}



@media (max-width: 450px) {
  .forgot-password-page-wrapper {
    width: 43vh;
  }
}



@media (max-width: 375px) {
  .forgot-password-page-wrapper {
    width: 37vh;
  }

  .forgot-password-header {
    font-size: 2rem;
  }

  .forgot-password-page-form-group {
    width: 73%;
  }

  .forgot-password-button {
    margin-left: 24%;
  }
}



@media (max-width: 320px) {
  .forgot-password-page-wrapper {
    width: 30vh;
  }

  .forgot-password-header {
    font-size: 1.5rem;
  }

  .forgot-password-page-form-group {
    width: 92%;
    margin-left: -1.5rem;
  }

  .forgot-password-button {
    margin-left: 17%;
  }
}