.login-page-nav-bar-container {
  width: 100%;
}

.login-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 99%;
  height: 88vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: .6rem;
}

.login-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  width: 73.5vh;
  height: 55vh;
  margin-top: 4rem;
  margin-left: 6rem;
}

.login-page-header {
  font-size: 1.5rem;
  color: #035aa6;
  text-align: center;
}

.login-page-form-container {
  width: 26vw;
  height: 40vh;
  margin-top: 1rem;
  width: 36rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
  padding: 2.5rem;
}

.new-user-form {
  margin-top: -2rem;
  width: 40rem;
  margin-left: -2.5rem;
  height: 24.3rem;
}

.login-page-field-container {
  height: 10.2rem;
  margin-top: -4rem;
}

.remember-me {
  margin-top: 2rem;
}

.login-button-wrapper {
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  width: 92%;
  margin-top: 1rem;
}

.login-button {
  color: white;
  font-size: 1.5rem;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
}

.login-button {
  color: #bbe1fa;
  text-decoration: none;
}

.login-button:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.login-page-form-group {
  height: 1.8rem;
}

.login-page-signup-button-wrapper {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  margin-top: 3.5rem;
  width: 39rem;
}

.login-page-footer-container {
  background-color: navy;
  margin-bottom: 0;
}




/*Media Queries*/
