.login-page-nav-bar-container {
  width: 100%;
}

.login-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 99%;
  height: 127vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: .6rem;
}

.login-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  width: 76vh;
  height: 73vh;
  margin-top: 4rem;
  margin-left: 6rem;
}

.login-page-header {
  font-size: 2rem;
  color: #035aa6;
  text-align: center;
  
}

.login-page-form-container {
  width: 26vw;
  height: 40vh;
  margin-top: 1rem;
  width: 36rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
  padding: 2.5rem;
}

.new-user-form {
  margin-top: -2rem;
  width: 40rem;
  margin-left: -2.5rem;
  height: 24.3rem;
}

.login-page-field-container {
  height: 10.2rem;
  margin-top: -4rem;
}

.remember-me {
  margin-top: 2rem;
}

.login-button-wrapper {
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  width: 92%;
  margin-top: 1rem;
}

.login-button {
  color: white;
  font-size: 1.5rem;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
}

.login-page-form-group {
  height: 1.8rem;
  padding: 1.5rem;
}

.login-page-signup-button-wrapper {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin-top: 3.5rem;
  width: 39rem;
}

.login-page-footer-container {
  background-color: navy;
  margin-bottom: 0;
}




/*Media Queries*/

@media (max-width: 1900px) {
  .login-page-form-container {
    height: 20vh;
    padding: 4.1rem;
  }

    .login-page-nav-bar-container {
      width: 100%;
  }

  .login-page-container {
    width: 99.2%;
    height: 100vh;
   }
   .login-page-wrapper {
    width: 82vh;
    height: 80vh;
   }

   .login-page-field-container {
    margin-top: -4rem;
  }

  .login-button-wrapper {
    width: 93%;
  }

  .login-page-signup-button-wrapper {
    width: 39rem;
  }

  .login-page-footer-container {
    width: 99%;
  }
}



@media (max-width: 1550px) {
    .login-page-nav-bar-container {
      width: 100%;
  }

  .login-page-container {
    width: 99%;
    height: 99vh;
  }

  .login-page-form-container {
    height: 20.9rem;
    padding: 4rem;
    width: 36.2rem;
  }

  .login-page-footer-container {
    width: 100%;
  }
}



@media (max-width: 1300px) {
  .login-page-nav-bar-container {
    width: 100%;
  }

  .login-page-container {
    width: 98%;
  }

  .login-page-wrapper {
    width: 65vh;
  }

  .login-page-header {
    font-size: 1.5rem;
  }

  .login-page-form-container {
    height: 19vh;
    width: 24.5rem;
  }

  .new-user-form {
    margin-left: -4.5rem;
  }

  .login-page-field-container {
    width: 31rem;
  }

  .login-button-wrapper {
    width: 76%;
  }

  .login-page-signup-button-wrapper {
    width: 32rem;
  }

  .login-page-footer-container {
    width: 100%;
  }

}



@media (max-width: 1024px) {
  .login-page-wrapper {
    width: 65vh;
    height: 78vh;
  }

  .login-page-form-container {
    height: 26vh;
    width: 24rem;
  }

  .new-user-form {
    margin-left: -3.5rem;
    width: 38rem;
  }

  .login-page-field-container {
    width: 29rem;
  }

  .login-page-signup-button-wrapper {
    width: 30rem;
  }
}



@media (max-width: 850px) {
  .login-page-wrapper {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }
}



@media (max-width: 768px) {
  .login-page-wrapper {
    height: 70vh;
    width: 55vw;
  }

  .login-page-header {
    font-size: 1rem;
  }

  .login-page-form-container {
    height: 23vh;
    width: 17rem;
  }

  .new-user-form {
    margin-left: -3.5rem;
    width: 29rem;
  }

  .login-page-field-container {
    width: 22rem;
  }

  .login-page-signup-button-wrapper {
    width: 24rem;
  }
}



@media (max-width: 630px) {
  .login-page-wrapper {
    width: 55vh;
    height: 65vh;
  }

  .login-page-header {
    font-size: 1rem;
  }

  .login-page-form-container {
    height: 23vh;
    width: 20rem;
  }

  .login-page-field-container {
    width: 25rem;
  }

  .remember-me {
    margin-top: -.9rem;
  }

  .login-button-wrapper {
    width: 63%;
  }
}



@media (max-width: 414px) {
  .login-page-nav-bar-container {
    width: 100%;
  }

  .login-page-container {
    width: 97%;
  }

  .login-page-wrapper {
    width: 45vh;
    height: 73vh;
  }

  .login-page-header {
    font-size: 1rem;
  }

  .login-page-form-container {
    height: 39vh;
    width: 11.5rem;
  }

  .new-user-form {
    margin-left: -3.5rem;
    width: 26rem;
    font-size: 1rem;
  }

  .login-page-field-container {
    width: 16rem;
  }

  .login-page-signup-button-wrapper {
    width: 18rem;
  }

  .login-page-footer-container {
    width: 100%;
  }
}



@media (max-width: 375px) {
  .login-page-container {
    width: 94%;
  }

  .login-page-wrapper {
    width: 43vh;
    height: 80vh;
  }

  .login-page-header {
    font-size: 1rem;
  }

  .login-page-form-container {
    height: 30vh;
    width: 9rem;
  }

  .new-user-form {
    margin-left: -4.5rem;
    width: 21rem;
    font-size: .9rem;
  }

  .login-page-field-container {
    width: 14rem;
  }

  .login-button-wrapper {
    width: 70%;
  }

  .login-page-signup-button-wrapper {
    width: 16.5rem;
  }
}



@media(max-width: 360px) {
  .login-page-wrapper {
    width: 36vh;
    height: 73vh;
  }
}



@media (max-width: 320px) {
  .login-page-nav-bar-container {
    width: 98%;
  }

  .login-page-form-container {
    margin-left: 2rem;
  }

  .new-user-form {
    margin-left: -7.5rem;
    width: 35rem;
  }
}

