
.App-header {
  min-height: 89.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: url(../assets/background.jpg);
  position:fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.App-logo {
  height: 20vmin;
  outline: 0;
}

.main-characters-footer-container {
  background-color: #3F51B5;
  margin-top: 19rem;
  text-decoration: none;
  width: 100%;
  position: fixed;
  bottom: 0px;
}




/* Media Queries */

@media (max-width: 1550px) {
    .App-logo {
      height: 18vmin;
  }
}



@media (max-width: 414px) {
    .App-logo {
      height: 43vmin;
      margin-top: -16rem;
  }
}



@media (max-width: 375px) {
  .App-logo {
    height: 45vmin;
    margin-top: -19rem;
  }
}



@media (max-width: 320px) {
    .main-page-nav-bar-container {
      width: 22rem;
  }
}

