a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.nav-bar-container {
  width: 100%;
} 

.nav-bar-logo {
  width: 6rem;
  height: 4rem;
  margin-left: 1rem;
  outline: 0;
}

.nav-bar-about-auth-container {
  text-align: right;
  width: 100%;
  margin-right: 3rem;
  font-weight: 400;
}

.nav-bar-group {
  margin-right: 2.5rem;
  padding: 15px 25px;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
}


