.reset-password-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 99.5vw;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: -5rem;
}

.reset-password-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  width: 76vh;
  height: 62vh;
  margin-top: 7rem;
  margin-left: 6rem;
 }

 .reset-password-header-wrapper {
  color: #035aa6;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.reset-password-header {
  margin: .2rem;
}

.reset-password-page-form-group {
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
  width: 41rem;
}

.reset-password-button-wrapper {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.reset-password-button {
  color: white;
  font-size: 1.5rem;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
}

.reset-password-button:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

