.sign-up-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

}

.sign-up-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

 .sign-up-header-wrapper {
  color: #035aa6;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.sign-up-header {
  margin: .2rem;
}
.sign-up-form-container {
  padding: 0 20px;
}
.sign-up-page-form-group {
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
}

.sign-up-button-wrapper {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.sign-up-button {
  color: white;
  font-size: 1.5rem;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
}

.sign-up-page-log-in-button-wrapper{
  font-size: 1.2rem;
  text-align: center;
}




/* Media Queries */

@media (max-width: 767px) {
  .sign-up-page-container {
    background-size: initial;
    background-position: right;
    height: 150vh;
  }
}