.sign-up-page-container {
  background: url(../assets/authMarvel.jpg);
  width: 100vw;
  height: 150vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 0em;
}

.sign-up-page-wrapper {
  border: solid 1rem #EF482A;
  background-color: #fbe555;
  box-shadow: -10px 11px 9px -5px black;
  width: 76vh;
  height: 62vh;
  padding-top: 1rem;
  margin-top: 5rem;
  margin-left: 6rem;
 }

 .sign-up-header-wrapper {
  color: #035aa6;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.sign-up-header {
  margin: .2rem;
}

.sign-up-page-form-group {
  font-size: 1.2rem;
  font-weight: 400;
  color: #035aa6;
  width: 41rem;
}

.sign-up-button-wrapper {
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  width: 92%;
  margin-top: 1rem;
}

.sign-up-button {
  color: white;
  font-size: 1.5rem;
  background-color: #3F51B5;
  width: 9rem;
  height: 3rem;
  border-radius: 45%;
  box-shadow: -10px 11px 9px -5px black;
}

.sign-up-page-log-in-button-wrapper{
  font-size: 1.2rem;
  text-align: center;
}




/* Media Queries */