/* .App {
  text-align: center;
} */

.nav-bar-logo {
  width: 6rem;
  padding: .5rem;
}

.MuiButton-label {
  font-size: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar-about-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 450;
  padding-right: 8rem
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Main Page Style */

.main-page-paragraph {
  color: navy;
  font-weight: 400;
}
