
/* Main Page */

.App-header {
  min-height: 51.8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 5rem;
  margin-bottom: -20.5rem;


  background: url(./assets/background.jpg);
  position:fixed;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.App-logo {
  height: 20vmin;
  outline: 0;
}

.main-page-paragraph {
  color: navy;
  font-size: 5rem;
  font-weight: bold;
  padding: 1rem 11px -1px 8px;
  margin: 3rem 28px;
}


/* All Characters Page */

.character-page-content {
  margin: .5rem;
  padding: .5rem;
}


/* Individual Character Page */



